<div class="dg-container">
    <div class="y-container">
        <form>
            <!-- <mat-form-field appearance="outline"> -->
                <div class="header">
                    <div class="name">
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="title">
                        <input type="text" placeholder="Job Title">
                    </div>
                </div>
    
                <div class="content">
                    <div class="left-col">
                        <div class="left-item">Summary
                            <input type="text-area" placeholder="summary">
                        </div>
    
                        <div class="left-item fa-phone">Phone
                            <input type="phone" placeholder="phone">
                        </div>
                        <div class="left-item">Email
                            <input type="email" placeholder="email">
                        </div>
    
                        <div class="left-item">languages
                            <input type="text" placeholder="Mandarin">
                        </div>
                        <div class="left-item">address
                            <input type="address" id="street" aria-hidden="true" placeholder="Street">
                            <input type="address" id="post" placeholder="Post code">
                            <input type="address" id="city" placeholder="City">
                        </div>
                    </div>
        
                    <div class="right-col">
                        <div class="right-card">
                            <div class="right-title">Working Experience</div>
                            <input type="text-area">
                        </div>
    
                        <div class="right-card">
                            <div class="right-title">Academic background</div>
                            <education></education>
                            <input type="text-area">
                        </div>
        
                        <div class="right-card">
                            <div class="right-title">Programming Skills</div>
                            <input type="text-area">
                        </div>
                    </div>
        
                </div>
            <!-- </mat-form-field> -->
        </form>

        
    </div>
</div>

